  Name <input type="text" ng-model="teen" ng-minlength="1" ng-maxlength="255">
  Type  
    <select ng-model="type">
      <option value="human">human</option>
      <option value="near human">near human</option>
      <option value="not very near human">not very near human</option>
      <option value="real weirdie">real weirdie</option>
    </select>
  Smarts <input type="number" ng-model="smarts" min="1" max="6"/>
  Relationship With Parents <input type="number" ng-model="rwp" min="1" max="6"/>
  Driving <input type="number" ng-model="driving" min="1" max="6"/>
  Cool <input type="number" ng-model="cool" min="1" max="6"/>
  Bod <input type="number" ng-model="bod" min="1" max="6"/>
  Luck <input type="number" ng-model="luck" min="1" max="6"/>
  Looks <input type="number" ng-model="looks" min="1" max="6"/>
  Bonk <input type="number" ng-model="bonk" min="1" max="6"/>
  {{teen}}
  {{type}}
  {{smarts}}
  {{rwp}}
  {{driving}}
  {{cool}}
  {{bod}}
  {{luck}}
  {{looks}}
  {{bonk}}
